@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
	--primary-color: #140c28;
	--secondary-color: #1d113b;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: 'Poppins', 'Ariel', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: #fff;
	background-color: var(--primary-color);
}

.header {
	margin-top: 1rem;
	display: flex;
	width: 600px;
	margin-left: auto;
	margin-right: 2rem;
}

.input-group {
	width: 300px;
	height: 40px;
	position: relative;
}

input[type='text'] {
	width: 100%;
	height: 100%;
	font-weight: 300;
	font-size: 16px;
	text-indent: 30px;
	padding: 10px;
	background-color: var(--secondary-color);
	border: none;
	border-radius: 10px;
	color: #fff;
}

input[type='text']:focus {
	outline: none;
}

.input-group i {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 15px;
}

.notifications {
	height: 40px;
	background-color: var(--secondary-color);
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-left: 2rem;
}

.notifications i {
	position: relative;
}

.circle {
	width: 7px;
	height: 7px;
	border: 1px solid #fff;
	background-color: #ee5a24;
	border-radius: 50%;
	position: absolute;
	top: 1px;
	right: 0;
	z-index: 100;
}

#weather {
	height: 40px;
	width: 200px;
	display: flex;
	justify-content: space-around;
	margin-left: 2rem;
	background-color: var(--secondary-color);
	border-radius: 10px;
}

.weather-icon {
	height: 100%;
	padding: 5px;
}

.weather-icon img {
	height: 80%;
	width: auto;
}

.weather-info {
	font-size: 14px;
}

#elements-wrapper {
	display: flex;
}

/* NAVIGATION */

#navigation {
	width: 80px;
	height: 80vh;
	background-color: var(--secondary-color);
	font-size: 16px;
	margin: auto 2rem;
	border-radius: 15px;
	padding: 10px;
}

.menu-list {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	font-size: 12px;
	color: #aaa;
}

.list-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.list-item i {
	font-size: 20px;
	margin-bottom: 5px;
}

.list-item.active {
	color: #fff !important;
}

/* MOVIE CAteGORY */
.h2 {
	font-size: 1.3rem;
	font-weight: 400;
}

.movie-category {
	height: 400px;
	margin: 2rem auto;
}

.single-movie {
	height: 100%;
}

.single-movie img {
	height: 80%;
	width: auto;
	border-radius: 25px;
}

.movie-title {
	font-size: 20px;
	font-weight: 400;
}

.movie-length {
	display: flex;
	align-items: center;
	font-size: 16px;
	margin-top: 0.2rem;
}

.movie-length i {
	margin-right: 10px;
}

.movie-length p {
	font-size: 0.6rem;
	color: #aaa;
}

/* CATEGORIES */

.categories {
	display: flex;
	list-style: none;
	margin: 2rem auto;
}

.category-item {
	width: 300px;
	height: 200px;
	position: relative;
}

.category-item img {
	height: 100%;
	width: 100%;
	border-radius: 20px;
}

.category-item a {
	text-decoration: none;
	color: #fff;
}

.category-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 0;
}
